<div class="container">
  <% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <%= content_tag :div, msg, :class => "alert alert-dismissible alert-#{name}", :style => "width:500px; margin: 10px auto; text-shadow: none" %>
  <% end %>
<% end %>
<div class="row">
  <div class="col-lg-6">
    <div class="well bs-component form">
      <%= form_tag submit_contact_form_path, :class => "form-horizontal" do %>
      <fieldset>
        <legend class="form-title">Contact Us</legend>
        <div class="form-group">
          <%= label_tag(:first_name, "First Name", :class => 'col-lg-2 control-label') %>
          <div class="col-lg-10">
            
            <%= text_field_tag :first_name, "", :placeholder => "John", :class => 'form-control'  %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:last_name, "Last Name", :class => 'col-lg-2 control-label') %>
          <div class="col-lg-10">
            <%= text_field_tag :last_name, "", :placeholder => "Smith", :class =>'form-control'  %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:email, "Email", :class => 'col-lg-2 control-label') %>
          <div class="col-lg-10">
            <%= text_field_tag :email, "", :placeholder => "johnsmith@example.com", :class =>'form-control'  %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:body, "Email Body", :class => 'col-lg-2 control-label') %>
          <div class="col-lg-10">
            <%= text_area_tag :body, "", :placeholder => "i.e. I'd like to pursue the free 30 minute consultation AnchorPrep offers!", :id => 'email-body', :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Who are you?</label>
          <div class="col-lg-10">
            <div class="radio">
              <label>
                <%= radio_button_tag(:relationship, "Parent") %>
                I am a parent
              </label>
            </div>
            <div class="radio">
              <label>
                <%= radio_button_tag(:relationship, "Student") %>
                I am a student
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
        <label class=" control-label col-lg-2">Student Graduation</label>
        <br>
                      <%= select_tag :graduation, options_for_select([2016,2017,2018,2019,2020]), :class => "form-control col-lg-offset-3", :style => "width:40%"%>
                    </div>
        <div class="form-group">
          <div class="col-lg-offset-4">
            <%= submit_tag "Send Email", :class => 'btn btn-primary form-button' %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>

</div>
  <div class="col-lg-6">
      
              <div class="panel panel-info">
                <div class="panel-heading">
                  Testimonials
                </div>
                <div class="panel-body">
                  <p>"Kathryn's guidance, insight and calm throughout the application process was invaluable. She worked with my daughter on fine-tuning essays that celebrated her strengths, personality and interests in a very authentic and compelling way. Another plus was her familiarity with the various schools and their specific admissions nuances – really helpful. Thank you Kathryn!" -AnchorPrep Parent, Muhlenberg College</p>
                  <p>"Fortunately we found Katie and she was the perfect choice. Katie worked with my son every step of the way, from choosing college to applying to them, and from filling out the forms to reviewing essays. She understands all aspects of the process and is extremely detail oriented. In a few years when my younger son is ready to go through this, Katie will be the first person I call." -AnchorPrep Parent, University of Michigan</p>
                  <p>"Kathryn was extremely helpful with all aspects of the process. She made applying to college much less intimidating. She also provided me with superb tips to improve my essays. -AnchorPrep UCSB Student</p>
                  <p>"Applying to college can be an overwhelming process.  Katie helped keep me focused as I tackled each looming deadline. She helped me find the schools that were the best fit for my personality and academic aspirations.  I could not thank her enough!”  -AnchorPrep Student, USC</p>
                </div>
              </div>
                <div class="panel panel-success">
                <div class="panel-heading">
                  Available to All!
                </div>
                <div class="panel-body">
                  Located in the beach cities of Manhattan and Hermosa, AnchorPrep offers in person, one-on-one guidance as well as virtual counseling via Skype to students all over the country.
                </div>
              </div>
    
  
  </div>
</div>
</div>
