<div class="content-container">
  <div class="content-story">
    <h1>Contact Us</h1>
    <p>We'd love to hear from you.</p>

<%= form_tag submit_contact_form_path do %>

  <%= label_tag(:first_name, "First Name") %>
  <%= text_field_tag :first_name, "", :placeholder => "John", :size =>'30x10'  %>
  
  <%= label_tag(:last_name, "Last Name") %>
  
  <%= text_field_tag :last_name, "", :placeholder => "Smith", :size =>'30x10'  %>
  
  <%= label_tag(:email, "Email") %>
  
  <%= text_field_tag :email, "", :placeholder => "jonsmith@example.com", :size =>'30x10'  %>
  
  <%= radio_button_tag(:type, "Parent") %>
  <%= label_tag(:type_parent, "I am a parent") %>
  <%= radio_button_tag(:type, "Student") %>
  <%= label_tag(:type_student, "I am a student") %>
  
  <%= label_tag(:body, "Email Body") %>
  
  <%= text_area_tag :body, "", :placeholder => "Text", :id => 'email-body', :size => '50x15' %>
    
  <%= submit_tag "Send Email" %>
<% end %>

<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=2345%20College%20Avenue%2C%20Berkeley%2C%20CA%2C%20United%20States&key=AIzaSyD1BPSQMnowZ4T8wnUgDm8EmU5mRyFR1l4"></iframe>
  </div>

</div

