<div class="container">
  <% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <%= content_tag :div, msg, :class => "alert alert-dismissible alert-#{name}", :style => "width:500px; margin: 10px auto; text-shadow: none" %>
  <% end %>
<% end %>
<div class="row">
  <div class="col-lg-6">
    <div class="well bs-component">
      <%= form_tag submit_contact_form_path, :class => "form-horizontal" do %>
      <fieldset>
        <legend>Contact Us</legend>
        <div class="form-group">
          <%= label_tag(:first_name, "First Name", :class => 'col-lg-2 control-label') %>
          <div class="col-lg-10">
            
            <%= text_field_tag :first_name, "", :placeholder => "John", :class => 'form-control'  %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:last_name, "Last Name", :class => 'col-lg-2 control-label') %>
          <div class="col-lg-10">
            <%= text_field_tag :last_name, "", :placeholder => "Smith", :class =>'form-control'  %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:email, "Email", :class => 'col-lg-2 control-label') %>
          <div class="col-lg-10">
            <%= text_field_tag :email, "", :placeholder => "jonsmith@example.com", :class =>'form-control'  %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:body, "Email Body", :class => 'col-lg-2 control-label') %>
          <div class="col-lg-10">
            <%= text_area_tag :body, "", :placeholder => "Text", :id => 'email-body', :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Radios</label>
          <div class="col-lg-10">
            <div class="radio">
              <label>
                <%= radio_button_tag(:relationship, "Parent") %>
                I am a parent
              </label>
            </div>
            <div class="radio">
              <label>
                <%= radio_button_tag(:relationship, "Student") %>
                I am a student
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
        <label class=" control-label">Student's High School Graduation Year</label>

                      <%= select_tag :graduation, options_for_select([2016,2017,2018,2019,2020]), :class => "form-control col-lg-offset-2", :style => "width:40%"%>
                    </div>
        <div class="form-group">
          <div class="col-lg-offset-2">
            <%= submit_tag "Send Email", :class => 'btn btn-primary' %>
          </div>
        </div>
      </fieldset>
    <% end %>
  <!-- </div> -->
</div>
  <div class="col-lg-6">
      <div class="panel panel-info">
                <div class="panel-heading">
                  Available to All!
                </div>
                <div class="panel-body">
                  AnchorPrep not only offers in person, one-on-one tutoring for residents local to the Manhattan Beach and Hermosa area, but also virtual counciling via Skype to students all over the country!
                </div>
              </div>
              <div class="panel panel-success">
                <div class="panel-heading">
                  Testimonials
                </div>
                <div class="panel-body">
                  <p>"These guys are the greatest! I would definitely use their service again"</p>
                  <p>"Katie and Kathyrn are the ultimate homies. They are the smartest college counselors I've ever worked with and I could not be happier."</p>
                  <p>"These guys are the greatest! I would definitely use their service again"</p>
                </div>
              </div>
    
  
  </div>
</div>
</div>
