<div class="container">
  <% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <%= content_tag :div, msg, :class => "alert alert-dismissible alert-#{name}", :style => "width:500px; margin: 10px auto; text-shadow: none" %>
  <% end %>
<% end %>
<div class="row">
  <div class="col-lg-6">
    <div class="well bs-component">
      <%= form_tag submit_contact_form_path, :class => "form-horizontal" do %>
      <fieldset>
        <legend>Contact Us</legend>
        <div class="form-group">
          <%= label_tag(:first_name, "First Name", :class => 'col-lg-2 control-label') %>
          <div class="col-lg-10">
            
            <%= text_field_tag :first_name, "", :placeholder => "John", :class => 'form-control'  %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:last_name, "Last Name", :class => 'col-lg-2 control-label') %>
          <div class="col-lg-10">
            <%= text_field_tag :last_name, "", :placeholder => "Smith", :class =>'form-control'  %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:email, "Email", :class => 'col-lg-2 control-label') %>
          <div class="col-lg-10">
            <%= text_field_tag :email, "", :placeholder => "jonsmith@example.com", :class =>'form-control'  %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:body, "Email Body", :class => 'col-lg-2 control-label') %>
          <div class="col-lg-10">
            <%= text_area_tag :body, "", :placeholder => "i.e. I'd like to pursue the free 30 minute consultation AnchorPrep offers!", :id => 'email-body', :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Who are you?</label>
          <div class="col-lg-10">
            <div class="radio">
              <label>
                <%= radio_button_tag(:relationship, "Parent") %>
                I am a parent
              </label>
            </div>
            <div class="radio">
              <label>
                <%= radio_button_tag(:relationship, "Student") %>
                I am a student
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
        <label class=" control-label col-lg-2">Student Graduation</label>
        <br>
                      <%= select_tag :graduation, options_for_select([2016,2017,2018,2019,2020]), :class => "form-control col-lg-offset-3", :style => "width:40%"%>
                    </div>
        <div class="form-group">
          <div class="col-lg-offset-2">
            <%= submit_tag "Send Email", :class => 'btn btn-primary' %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
  <div class="col-lg-6">
      <div class="panel panel-info">
                <div class="panel-heading">
                  Available to All!
                </div>
                <div class="panel-body">
                  Located in the beach cities of Manhattan and Hermosa, AnchorPrep offers in person, one-on-one guidance as well as virtual counseling via SKype to students all over the country.
                </div>
              </div>
              <div class="panel panel-success">
                <div class="panel-heading">
                  Testimonials
                </div>
                <div class="panel-body">
                  <p>"Your patience, wisdom, guidance and humor were much appreciated through the journey." Achor Prep Parent</p>
                  <p>"Thank you so much for all of the help you have given our son as he embarks on this college search. It has been invaluable." AnchorPrep Parent</p>
                  <p>"If it wasn't for Kathryn, there is no way my essays would have turned out as strong as they did. She gave great insight helping me form my ideas and was extremely efficient. I'll be attending the University of Michigan this fall and Kathryn helped me make that possible" Ancho Prep Student</p>
                  <p>"My son was accepted to a top tier university and Katie deserves a ton of credit for helping to make his dream a reality." AnchorPrep Parent</p>
                  <p>"Without AnchorPrep I would have been admitted to such amazing universities." AnchorPrep Student</p>
                </div>
              </div>
    
  
  </div>
</div>
</div>
