<div class="container" id="admin-dash">
<h1>Admin Dashboard</h1>

<h2>Articles</h2> <%= link_to 'Create a new article', new_update_path, :class => "btn btn-success new" %>

<br>

<table class="table table-striped table-hover ">
                <thead>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>
                <tbody>
    <% @updates.each do |update| %>
      <tr>
        <td><%= update.title %></td>
        <td><%= truncate update.summary, :length => 50 %></td>
        <td><%= update.date %></td>
        <td><%= link_to 'View', update, :class => "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_update_path(update), :class => "btn btn-warning" %></td>
        <td><%= link_to 'Delete', update, method: :destroy, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
              </table>



<h2>College Spotlights </h2> <%= link_to 'Create a new college spotlight', new_college_path, :class => "btn btn-success new" %><br>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @colleges.each do |college| %>
      <tr>
        <td><strong><%= college.name %></strong></td>
        <td class="button-container"><%= link_to 'View', college, :class => "btn btn-primary"%></td>
        <td class="button-container"><%= link_to 'Edit', edit_college_path(college), :class => "btn btn-warning"%></td>
        <td class="button-container"><%= link_to 'Delete', college, method: :destroy, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<h2>Events</h2> <%= link_to 'Create New Event', new_event_path, :class => "btn btn-success new" %>
<br>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Summary</th>
      <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
                <td><%= event.date %></td>
        <td><%= truncate event.summary, length: 50 %></td>

        <td class="button-container"><%= link_to 'View', event, :class => "btn btn-primary" %></td>
        <td class="button-container"><%= link_to 'Edit', edit_event_path(event), :class => "btn btn-warning" %></td>
        <td class="button-container"><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

<h3>Interested Users</h3>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Type</th>
      <th>Student Graduation Year</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.relationship %></td>
        <td><%= user.graduation %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>