<div class="well bs-component">
<%= form_for(@update, :class => "form-horizontal") do |f| %>
  <% if @update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@update.errors.count, "error") %> prohibited this update from being saved:</h2>

      <ul>
      <% @update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class =>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :link %><br>
    <%= f.text_field :link, :class =>'form-control', :placeholder => "Remember to include http:// in your link!" %>
  </div>
   <div class="form-group">
    <%= f.label :summary %><br>
    <%= f.text_area :summary, :class =>'form-control', rows: 8 %>
  </div>
   <div class="form-group">
    <%= f.label :date, "Source/Credit" %><br>
    <%= f.text_field :date, :class =>'form-control', :placeholder => "New York Times, 2012" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>
</div>