<% @colleges.limit(5).each do |college| %>
<div class="college-container">
    <h2><%= college.name %></h2>
    
        <% if [nil,""].include?(college.quote) == false %>
        <div class="quote">
            <blockquote>
                <p><%= college.quote %></p>
                <small><cite title="Source Title"><%= college.quote_author%></cite></small>
            </blockquote>
        </div>
        <% end %>
    
  
     <div class="external-info">
            <h3>Application Deadlines</h3>
            <p>Early Action: <%= college.early_action %></p>
            <p>Early Decision: <%= college.early_decision %></p>
            <p>Regular Decision: <%= college.regular_decision %></p>
            <p><a href="<%= college.website %>">Admissions Website</a></p>
        </div>
    <% if college.facts %>
    <div class="text-left">
        <h3>Fun Facts:</h3>
        <ol class="fact-list">
            
            <% college.facts.each do |fact| %>
            <li><%= fact %></li>
            <% end %>
        </ol>
    </div>
    <% end %>
    <br>
    <% if [nil,""].include?(college.other) == false %>
    <p class="text-left"><strong>Other: </strong><%= college.other %>
        <% end %>
    </div>
    <% end %>