<div class="container" style="margin-top: 20px">
	<div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading">All Colleges</div>
			<div class="panel-body">
				<ul>
					
					<% @colleges.each do |college| %>
					<li><%= link_to college.name, college_path(college.id) %></li>
					<% end%>
				</ul>
			</div>
		</div>
		
	</div>
	<div class="col-lg-9">
		
		<div class="college-container">
			<h2><%= @college.name %></h2>
			<% if [nil,""].include?(@college.quote) == false %>
			<div class="quote">
				<blockquote>
					
					
					<p><%= @college.quote %></p>
					<small><cite title="Source Title"><%= @college.quote_author%></cite></small>
				</blockquote>
				
			</div>
			<% end %>
			<div class="external-info">
            <h3>Application Deadlines</h3>
            <p>Early Action: <%= @college.early_action %></p>
            <p>Early Decision: <%= @college.early_decision %></p>
            <p>Regular Decision: <%= @college.regular_decision %></p>
            <p><a href="<%= @college.website %>">Admissions Website</a></p>
        </div>
				<% if @college.basics %>
    <div class="text-left">
        <h3>The Basics:</h3>
        <ol class="fact-list">
            
            <% @college.basics.each do |fact| %>
            <li><%= fact %></li>
            <% end %>
        </ol>
    </div>
    <% end %>
				<% if @college.facts %>
					<div class="text-left">
					  <h3>Fun Facts:</h3>

						<ol class="fact-list">
							
							<% @college.facts.each do |fact| %>
							<li><%= fact %></li>
							<% end %>
							
						</ol>
					<% end %>

				</div>
				<br>
				<% if [nil,""].include?(@college.other) == false %>
				<p class="text-left"><strong>Other: </strong><%= @college.other %>	
					<% end %>
			</div>
		</div>
	</div>
</div>