<!DOCTYPE html>
<html>
<head>
  <title>Advising</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<%= render 'layouts/navbar' %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <%= content_tag :div, msg, :style => "color:green; font-weight:bold" %>
  <% end %>
<% end %>

<body>

<%= yield %>

</body>
</html>
